html,body{
  /* background-color: red; */
  width: 100%;
  height:100%;
  margin:10px;
  
}
nav{
  margin: 20px;

}
.right{
  position: relative;
  top:40px;
  height:100vh;
  
  
}

.lefttext{
  position: absolute;
  margin-top: 200px;
  width: 60%;
  left: 80px;
}
.form_size{
  margin: auto;
  width:60%;
}
.input-container{
  margin: auto;
  padding: 10px;
  width:80%;
}
.input-container input{
  width: 100%;
  padding-left: 45px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 18px;
  border: 1px solid #CCCCCC;
  border-radius:8px ;
  background-color: #f7f4f4;
  -webkit-border-radius:8px ;
  -moz-border-radius:8px ;
  -ms-border-radius:8px ;
  -o-border-radius:8px ;
}
.input-container .icon {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}


.input-container .iconcheck{
  position: absolute;
  top:30%;
  right:0px;
  transform: translateY(-50%);

}

.contact_text{
  position: absolute;
  width: 108px;
  height: 36px;
  top: 22px;
  left: 1200px;
  gap: 0px;
  opacity: 0px;

}
.contact_text p{
  font-family: DM Sans;
font-size: 28px;
font-weight: 500;
line-height: 36.46px;
text-align: left;
color: #576474;
;

}

.cuvette_img{
width: 165px;
height: 43px;
top: 38px;
left: 55px;
gap: 0px;
opacity: 0px;
}





.horizontal-line{
 position: absolute;
width: 100%;
height: 0px;
 top: 30px;
gap: 0px; 
border: 1px solid #C5C5C5;
opacity: 0px;


}
.nav{
  margin-top: 15px;
  width: 100%;
}
.sec{
 position: relative;
 
}

.vertical-line{
  position: absolute;
  height:100vh;
  top:30px;
  border: 1px solid #C5C5C5;
  left:60px;


}
.create-btn{
  position: absolute;
  top:140px;
  left:200px;
  width: 310px;
  height: 57px;
 
  gap: 0px;
  border-radius: 8.32px ;
  opacity: 0px;
  -webkit-border-radius: 8.32px ;
  -moz-border-radius: 8.32px ;
  -ms-border-radius: 8.32px ;
  -o-border-radius: 8.32px ;
}
.ellipse{
  width: 31.1px;
height: 31.1px;
top: 44.95px;
left: 1458.17px;
gap: 0px;
opacity: 0px;

}
.polygon{
  width: 19.9px;
height: 19.9px;
top: 69.83px;
left: 1655.95px;
gap: 0px;
opacity: 0px;


}
.profile{
  position: relative;
  width: 200px;
  height: 40px;
  top: 0px;
  left: 1150px;
  gap: 0px;
  border: 1px solid black;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.jobform{
  /*  */
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: rebeccapurple; */
  position:relative;
  top: 150px;
  left:300px;
  width: 700px;
  height:60vh;
  /* border:1px solid black; */
}

label{
  font-family: DM Sans;
  font-size: 26px;
  font-weight: 350;
  line-height: 41.66px;
  text-align: left;

}
form{
  
  position: absolute;
  top:0px;
  width:100%;
  /* background-color: red; */
}
.formrow{
 
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
input{
  border: 2px solid #535353B2;
  width: 60%;
 
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

